{% extends "form.html" %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">New event</h1>
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSelect(fields.groupId) }}
      {{ govukInput(fields.title) }}
      {{ govukCharacterCount(fields.description) }}
      {{ govukInput(fields.date) }}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Location
          </h1>
        </legend>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukSelect(fields.countryId) }}
          </div>
          <div class="govuk-grid-column-one-half">
            {{ govukSelect(fields.regionId) }}
          </div>
        </div>
      </fieldset>

      {{ govukRadios(fields.source) }}
      {{ govukRadios(fields.sourceClassification) }}
      {{ govukCharacterCount(fields.caveats) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {% block oneThird %}
        {{ govukRadios(fields.impactRating) }}
        {{ govukCheckboxes(fields.themes) }}
      {% endblock %}
    </div>
  </div>
{% endblock %}