{% extends "layout.html" %}
{% from "partials/event.html" import eventMedia %}
{% from "partials/event.html" import eventSummary %}
{% from "partials/debug.html" import debug %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: group.name
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if credentials.isAdmin %}
    <div class="pull-right">
      {{ govukButton({
        text: "New event",
        href: "/admin/event/create?groupId=" + group.id
      }) }}
      {{ govukButton({
        text: "Edit group",
        href: "/admin/group/" + group.id + "/edit",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  {% endif %}
  <div class="clear">
    <div class="govuk-body">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{group.name}} ({{group.eventCount}})</span>
        {{group.description}}
      </h1>

      {% set detailsHtml %}
        <p class="govuk-body-l">{{group.summary}}</p>
      {% endset %}

      {{ govukDetails({
        summaryText: "Summary",
        html: detailsHtml
      }) }}

      {% for event in events %}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        {{eventMedia(event)}}
      {% endfor %}

      {% call debug() %}
        <pre>{{group | dump(2)}}</pre>
        <pre>{{events | dump(2)}}</pre>
      {% endcall %}
    </div>
  </div>
{% endblock %}