{% extends "layout.html" %}

{% from "partials/debug.html" import debug %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block content %}
  {% if credentials.isAdmin %}
    {{ govukButton({
      text: "New group",
      href: "/admin/group/create",
      classes: "pull-right"
    }) }}
  {% endif  %}

  <div class="clear">
    <div class="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Groups
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="/">Live reporting</a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#">Groups</a>
        </li>
      </ul>
      <div class="govuk-tabs__panel">   
        {{ govukTable({
          caption: "Groups",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          head: head,
          rows: rows
        }) }}
      </div>
    </div>

    {% call debug() %}
      <pre>{{groups | dump(2)}}</pre>
    {% endcall %}
  </div>
{% endblock %}